2DGameEngine/x64/Debug/2DGameEngine.exe
2DGameEngine/2DGameEngine/x64/
2DGameEngine/x64/Debug/2DGameEngine.ilk
2DGameEngine/x64/Debug/2DGameEngine.pdb
2DGameEngine/.vs/2DGameEngine/v16/.suo
2DGameEngine/.vs/2DGameEngine/v16/Browse.VC.db
2DGameEngine/.vs/2DGameEngine/v16/Browse.VC.db-shm
2DGameEngine/.vs/2DGameEngine/v16/Browse.VC.db-wal
2DGameEngine/.vs/2DGameEngine/v16/Browse.VC.opendb
2DGameEngine/.vs/2DGameEngine/v16/ipch/AutoPCH/7546f7d21c78ed80/GLM.ipch
2DGameEngine/.vs/2DGameEngine/v16/ipch/AutoPCH/99c6c88f698b5b72/MAIN.ipch
2DGameEngine/.vs/2DGameEngine/v16/ipch/AutoPCH/cda6a388a41a5878/DUAL_QUATERNION.ipch
2DGameEngine/.vs/2DGameEngine/v16/ipch/AutoPCH/cde9997ee92c7c09/EXT.ipch
2DGameEngine/.vs/
2DGameEngine/2DGameEngine/Debug/
2DGameEngine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/
2DGameEngine/TestsProject/x64/
2DGameEngine/x64/
2DGameEngine/2DGameEngine/LastCoverageResults.log
2DGameEngine/2DGameEngine/.opencppcov/2DGameEngine/Debug_x64.json
2DGameEngine/TestsProject/pch.pch
